@charset "UTF-8";

.cn05 {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1d47f6fd99539045286ab5150252e200_b312a623d08ec89d67f2ef5df2ae01e7.png) #ffdc2d center top no-repeat;
    padding: 63px 0 74px;
}

.cn06 {
    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/eb325ed74ad5075e2a1c98a061caa425_18b937369a45b970ec6c7c2079f62b0b.png) #ffdc2d center top no-repeat;
    padding: 63px 0 74px;
}

@media screen and (max-width: 768px){
	.cn05 {
	    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/1d47f6fd99539045286ab5150252e200_b312a623d08ec89d67f2ef5df2ae01e7.png) #ffdc2d center top no-repeat;
	    background-size: cover;
	    padding: 8% 0 7.5%;
	}

	.cn06 {
	    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/eb325ed74ad5075e2a1c98a061caa425_18b937369a45b970ec6c7c2079f62b0b.png) #ffdc2d center top no-repeat;
	    background-size: cover;
	    padding: 8% 0 7.5%;
	}
}

@media screen and (max-width: 480px){
	.cn05 {
	    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/e9abfda0ab4a600d20ba2771a9aa8ee7_1f0550e11dba718b73c96eecc2492d52.png) #ffdc2d center top no-repeat;
	    background-size: cover;
	}

	.cn06 {
	    background: url(https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/598437/bbb68b59153356d818af754b30bd76bd_7555e0a3b973f6823222e3f1340a01ea.png) #ffdc2d center top no-repeat;
	    background-size: cover;
	}
}